@page "/parent"

    <button class="btn btn-primary" @onclick="IncrementCounter">
        Increment Counter
    </button>

<h3 style="@Style">ParentComponent - @Count</h3>

<CascadingValue Value="@Count" Name="Count" IsFixed="false">
    <CascadingValue Value="@Style" Name="FontStyle" IsFixed="true">
        <CascadingValue Value="@BorderStyle" Name="BorderStyle" IsFixed="true">
            <ChildComponent>
            </ChildComponent>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>


@*<ChildComponent InputAttributes="AttributeFromParent">
</ChildComponent>*@

@code {
    public Dictionary<string, object> AttributeFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required","required" },
        {"placeholder","Parent Name" },
        {"size","100" },
        {"maxlength","15" }
    };

    public string Style { get; set; } = "color:red";
    public string BorderStyle { get; set; } = "border:1px solid red";
    public int Count { get; set; } = 0;

    private void IncrementCounter()
    {
        Count = Count + 1;
    }
}
